/**
 * @name brega theme
 * @author DevilBro
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord.
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground
 * @authorId 278543574059057154
 * @BDEditor BasicBackground
*/

@import url('https://fonts.googleapis.com/css2?family=comic+sans+ms:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://lastfm.freetls.fastly.net/i/u/ar0/3147132525dcc2b9182d71d8bb1874a9.jpg');
  --backgroundsize: cover;
  --backgroundposition: top right;
  --backgroundblur: 0px;
  --popout: url('https:A77aT00jMfSsXM/rs:fit/g:sm/q:90/h:554/w:554/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTgyMzY2/NDctMTY3NjA3NDEz/MS03NjAwLmpwZWc.jpeg');
  --popoutsize: auto;
  --backgroundposition: top right;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 173,26,114;
  --backdrop: rgb(69,0,77,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.38;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.26;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: comic sans ms;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 200,200,200;
  --textdark: 160,160,160;
  --textdarker: 125,125,125;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

/* Any custom CSS below here */


